.navbar img {
  width: 80px;
  position: relative;
  top: 15px;
}

#oneLi {
  color: red;
}

.navbar {
  height: 80px;
  background-color: black;
  color: white;
}

.navbar {
  margin-bottom: 0px;
}

#firstUl li {
  position: relative;
  top: 20px;
}

#firstUl {
  display: flex;
  list-style: none;
  margin-top: -43px;
  margin-left: 96px;
}

#firstUl li {
  margin: 5px;
  padding: 10px;
}

/* start style the main in the body part */

main img {
  width: 90vw;
  height: 90vh;
}

h1{
  text-align: center;
}
 
.eventImg{
  display: flex;
  flex-wrap:wrap;
}
@media screen and (max-width:1200px) {
  
  .eventImg{
    flex: 25%;
  }
  }
  
  #one {
    margin: 15px;
    background-color: lightgray;
    width: 300px;
    height: 250px;
  }
  
  #one img {
    width: 200px;
    height: 200px;
    padding: 30px
  }


  
  @media  screen and  (max-width:768px) and (min-width:600px) {
   .eventImg{
     flex: 50%;
   }
    
     }
    
  
 
     @media  screen and  (max-width:550px) and (min-width:480px)  {
      .eventImg{
      
        flex: 100%;
      }
       
        }
       
     
